.all_subs_list_item {
    padding: 5px 5px 10px 5px;
    display: flex;
    flex-direction: column;
}

.all_subs_list_item_name {
    font-size: var(--label-font-size);
    color: var(--focus-background-color);
    margin: 1 0 2rem 0;
}

.all_subs_list_item_details {
    margin: 0.2rem 0 0.2rem 0;
    font-size: 1rem;
    color: var(--labels-color);
} 

.all_subs_list_item_actions {
	display: flex;
	margin: 0.5rem auto 0.5rem 0;
	gap: 0.5rem;
}

.all_subs_list_item_actions_edit {
	font-size: var(--input-font-size);
    border-radius: 5px;
}

.all_subs_list_item_actions_delete {
	font-size: var(--input-font-size);
    border-radius: 5px;
}

.all_subs_list_item_actions_delete:hover {
    background-color: var(--delete-button-hover-color);
}

.all_subs_list_item_actions_edit:hover {
    background-color: var(--focus-background-color);
}

.no_permission {
	display: none;
}

.all_subs_list_item_movies_card {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 0.5rem 0;
    padding-top: 0;
}

.all_subs_list_item_movies_header {
    font-size: var(--label-font-size);
    text-align: center;
}

.all_subs_list_item_movie_subscribe_button {
    border-radius: 10px;;
    margin-bottom: 1rem;
    font-size: var(--input-font-size);
}

.all_subs_list_item_movie_subscribe_button:hover {
    background-color: var(--focus-background-color);
    border-color: var(--focus-background-color);
}

.all_subs_list_item_movies_list {
    list-style: decimal;
    padding: 5px 5px 5px 15px;
}

.all_subs_list_item_movies_list li {
    margin-bottom: 0.5rem;
}

.all_subs_list_item_movies_list a {
    color: var(--focus-background-color);
}