.header {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 2rem;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: rgb(138, 88, 255);
  font-size: 1.5rem;
}

.list a:hover,
.list a.active {
  color: rgb(45, 0, 151);
  text-decoration: underline;
}