.login_main {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.header {
  display: flex;
  justify-content: center;
  color: rgb(54, 83, 252);
  margin-bottom: 1rem;
}

.username {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

input {
  width: 18rem;
}

label {
  margin-right: 0.3rem;
  font-size: 1.5rem;
}

.email {
  margin-left: 3.9rem;
}

input:focus {
  background-color: rgb(253, 228, 225);
}

button {
  border-radius: 4px;
  font-size: 1.5rem;
  margin: 2rem auto 1rem auto;
}

button:hover {
  background-color: rgb(54, 83, 252);
  color: white;
  border-color: transparent;
}